* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  background-color: black;
}
/* header open */
header {
  background-color: #0c0d2ee5;
  position: relative;
  z-index: 10;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 14px 43px;
}
.header-ul {
  display: flex;
  gap: 25px;
  margin-top: 15px;
}
.header-nav {
  color: white;
}
.header-nav:hover {
  color: #189ce8;
  transition: 1s all;
}
.header-nav__blue {
  color: #189ce8;
}
.header-btn {
  border-radius: 100px;
  border: 2px white solid;
  padding: 15px 32px;
  margin-top: -15px;
  color: white;
  background-color: #0c0d2ee5;
}
.header-btn:hover {
  background-color: #189ce8;
  transition: 1s all;
}
/* header close */
/* section-1 open */
.container-1 {
  background-color: #010225;
  display: flex;
  position: relative;
  z-index: 5;
}
.section-left {
  margin: 82px 80px 163px 86px;
}
.left-text {
  color: white;
  font-size: 64px;
  width: 557px;
}
.left-text__2 {
  color: white;
  font-size: 12px;
  width: 617px;
  margin-top: 8px;
  margin-bottom: 14px;
}
.section-left__imgs {
  margin-left: -10px;
}
.section-right {
  margin-top: -85px;
  position: absolute;
  right: 0;
  z-index: 20;
}
/* section-1 close */
/* section-2 open */
.container-2 {
  background-color: #0c0d2e;
  position: relative;
  z-index: 1;
  padding-bottom: 160px;
}
.section-text__1 {
  color: white;
  font-size: 40px;
  padding-top: 230px;
  margin-bottom: 16px;
  text-align: center;
}
.section-text__2 {
  color: white;
  padding-bottom: 44px;
  text-align: center;
  margin: auto;
  width: 669px;
}
.section-box__div {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.section2-img {
  margin-left: 120px;
  margin-bottom: 12px;
}
.section2-text__1 {
  color: white;
  text-align: center;
  margin-bottom: 10px;
}
.section2-text__2 {
  color: white;
  text-align: center;
  width: 300px;
  margin-bottom: 25px;
}
.section2-text__3 {
  color: #159be8;
  text-align: center;
}
/* section-2 close */
/* section-3 open */
.container-3 {
  background-color: #0c0d2e;
  position: relative;
  z-index: 1;
}
.section-title__1 {
  color: white;
  font-size: 40px;
  text-align: center;
  width: 666px;
  margin: 0 auto;
  margin-bottom: 8px;
  margin-top: -100px;
}
.section-title__2 {
  color: white;
  width: 800px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 140px;
}
.section-3__box__div {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-left: 300px;
}
.text__box-1,
.text__box-2 {
  margin-bottom: 96px;
}
.text__box-3 {
  margin-bottom: 204px;
}
.box-text__1 {
  margin-left: -130px;
  margin-top: 12px;
  font-size: 20px;
  color: white;
}
.box-text__2 {
  margin-left: -270px;
  margin-top: 10px;
  width: 300px;
  color: white;
  text-align: end;
}
.big-img {
  margin-top: -90px;
}
.box-text__3 {
  margin-top: 10px;
  width: 300px;
  color: white;
  text-align: start;
}
.box-text__4 {
  margin-top: 12px;
  font-size: 20px;
  color: white;
}
/* section-3 close */
/* section-4 open */
.container-4 {
  background-color: #010225;
  display: flex;
}
.section-4__text-div {
  padding-top: 180px;
  padding-left: 87px;
}
.section-4__text-1 {
  color: #159be8;
  font-size: 18px;
}
.section-4__text-2 {
  color: white;
  font-size: 40px;
  width: 456px;
  margin-top: 28px;
  margin-bottom: 8px;
}
.section-4__text-3 {
  color: white;
  width: 617px;
}
.section-4-box__div {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}
.section2-text1__1 {
  color: white;
  margin-bottom: 10px;
}
.section2-text2__2 {
  color: white;
  width: 300px;
  margin-bottom: 25px;
}
.section-btn {
  border-radius: 100px;
  padding: 15px 32px;
  margin-top: 15px;
  color: white;
  background-color: #159be8;
}
.section-img {
  margin-top: 108px;
  margin-left: 20px;
  margin-bottom: 61px;
}
/* section-4 close */
/* section-5 open */
.container-5 {
  background-color: #010225;
}
.title__text-1 {
  color: #159be8;
  font-size: 18px;
  text-align: center;
}
.title__text-2 {
  color: white;
  font-size: 40px;
  text-align: center;
  margin-top: 28px;
  padding-bottom: 42px;
  margin: 0 auto;
  width: 623px;
}
.section-5-logos__div {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
.section-5__box-div {
  display: flex;
  justify-content: center;
  padding-bottom: 160px;
}
.section-5-box-text {
  color: white;
  width: 265px;
  margin-top: 26px;
  margin-bottom: 14px;
}
.box-in__min-box {
  display: flex;
  gap: 10px;
}
.min-box__text-1 {
  color: white;
  margin-top: 10px;
}
.min-box__text-2 {
  color: white;
}
/* section-5 close */
/* section-6 open */
.container-6 {
  background-color: #010225;
  padding-bottom: 80px;
}
.section-6-title__text {
  padding-top: 160px;
}
.section-6__title-1 {
  color: #159be8;
  text-align: center;
}
.section-6__title-2 {
  color: white;
  font-size: 40px;
  width: 645px;
  padding-top: 28px;
  padding-bottom: 8px;
  margin: 0 auto;
  text-align: center;
}
.section-6__title-3 {
  color: white;
  font-size: 18px;
  width: 699px;
  margin: 0 auto;
  margin-bottom: 44px;
  text-align: center;
}
.section-6__box-div {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  gap: 50px;
}
.section-6__box-1 {
  border-top: 4px #159be8 solid;
  width: 389px;
  background-color: #0c0d2e;
}
.box2 {
  border-top: 4px #f95b74 solid;
}
.box3 {
  border-top: 4px #7c44e2 solid;
}
.box-1__text-1 {
  color: white;
  font-size: 30px;
  text-align: center;
  margin-top: 74px;
  margin-bottom: 40px;
}
.box-1__text-2 {
  color: white;
  font-size: 40px;
  text-align: center;
}
.box-1__text-3 {
  color: white;
  width: 320px;
  font-size: 16px;
  margin: 0 auto;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 31px;
}
.box-1__btn {
  border-radius: 100px;
  border: 2px white solid;
  padding: 15px 32px;
  margin-top: -15px;
  color: white;
  background-color: #0c0d2ee5;
  margin-left: 105px;
  margin-bottom: 50px;
}
.box-1__btn:hover {
  background-color: #189ce8;
  transition: 1s all;
}
/* section-6 close */
/* section-7 open */
.min-section-7{
  background-color: #0C0D2E;
  margin: 0 125px;
}
.section-7-text-1{
  color: white;
  font-size: 40px;
  text-align: center;
  margin-top: -160px;
}
.section-7-text-2{
  color: white;
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
  width: 699px;
  margin-top: 16px;
  margin-bottom: 44px;
}
.section-7-btn__div{
  display: flex;
  justify-content: center;
  padding-bottom: 120px;
}
.section-7__btn-1{
  border-radius: 100px;
  padding: 15px 32px;
  color: white;
  background-color: #159be8;
}
.section-7__btn-2{
  border-radius: 100px;
  padding: 15px 32px;
  border: 2px white solid;
  color: white;
  background-color: #0C0D2E;
  margin-left: 20px;
}
.section-7__img{
  margin-left: 768px;
  margin-top: -270px;
}
.container-fot{
  background-color: #0C0D2E;
}
.footer-img-1{
  margin-left: 660px;
  margin-top: 60px;
  margin-bottom: 20px;
}
.footer-text-1{
  color: white;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}
.footer-img-2{
  margin-left: 36%;
}
.footer-text-2{
  color: white;
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 35px;
}
.footer-input{
  background-color: #010225;
  width: 350px;
  height: 35px;
  margin-left: 38%;
  border: 2px #282B53 solid;
}
.footer-btn{
  border-radius: 100px;
  padding: 20px 50px;
  color: white;
  background-color: #159be8;
  margin-left: 47%;
  margin-top: 53px;
  margin-bottom: 45px;
}
.footer-text-3{
  color: white;
  text-align: center;
  padding-bottom: 45px;
}